<html>

<head>
    <title>Eva's blog</title>
</head>

<body>
    <h1>Eva's blog</h1>
    <h3>Here, you can find my first project using Django. Just a simple, but nice blog.</h3>
    <div>
        <h2>My posts</h2>
        <p>Here, you'll find the posts I've writen for this occasion.</p>
        <ul>
            <li>post 1</li>
            <li>post 2</li>
            <li>post 3</li>
        </ul>
    </div>
    <div>
        <h2>My contact details</h2>
        <p>yo can find me here:</p>
        <a href="https://github.com/evalopezm">Github</a>
        <a href="https://www.linkedin.com/in/evalopezmerino/">Linkein</a>
        <a href="https://twitter.com/evalopezmerino2">Twitter</a>
    </div>
</body>

</html>